{% extends 'base.html' %}

{% load static from staticfiles %}
{% load widget_tweaks %}

{% block title %}Movies{% endblock %}
{% block content %}
<div id="bannerimage"></div>

<div class="row">
    <div class="col-sm-3 filter">
        <h3><b>Filter by:</b></h3>
        <form method="get">
            <div>
                <div class="filter-label">Title:</div><br>
                {{ filter.form.title|add_class:"form-control" }}
            </div>
            <div>
                <div class="filter-label">Director:</div><br>
                {{ filter.form.director|add_class:"form-control" }}
            </div>
            <div>
                <div class="filter-label">Released between:</div><br>
                <div class="form-inline">
                    <span>{{ filter.form.year__gte|add_class:"form-control year-filter" }}
                        <span> - </span>
                        {{ filter.form.year__lte|add_class:"form-control year-filter" }}
                </div>
                <small>Input a number between 1920 and now</small>
            </div><br>
            <button type="submit" class="btn btn-orange filter-btn"><i class="fa fa-filter"></i> Filter</button>
        </form>
    </div>
    <div class="col-md-8 col-sm-9 results">
        <div class="movies">
            {% if filter.qs %}
            <div>
                <h3><b>Results:</b></h3><br>
                {% if request.user.is_superuser %}
                <span><a href="/movies/movie_upload"><button class="btn btn-primary"><i class="fa fa-upload"></i> Upload
                            a movie</button></a></span><br><br>
                {% endif %}
            </div>
            <div class="row">
                {% for movie in filter.qs %}
                <div class="col-sm-3">
                    <div class="movie-img">
                        <a onclick="show_hideDiv('{{ movie.title }}')">
                            <img class="thumbnail img-responsive rounded" src="{{ movie.thumbnail.url }}" ,
                                alt="Image not found">
                            <div class="bottom-left">{{ movie.title }}</div>
                        </a>
                    </div><br>
                </div>
                {% endfor %}
            </div>
            {% for movie in filter.qs%}
            <div class="row">
                <div class="col-sm-12 movie-preview" id="movie-preview-{{ movie.title }}">
                    <video height='400' controls class="movie-preview-video-{{ movie.title }}" controlsList="nodownload" poster="{{ object.thumbnail.url }}">
                        <source src="../../media/{{movie.video_file}}" type="video/mp4">
                        </source>
                        Sorry, your browser does not support this video.
                    </video>
                    <div class="overlay">
                        <div class="overlay-text">
                            <h4>{{ movie.title }}</h4>
                            <p>{{ movie.director }}</p>
                            <p>{{ movie.duration }}</p>
                            <p>Summary: {{ movie.summary }}</p>
                            <p>Released in {{ movie.year_of_release }}</p>
                            <a href="{{ movie.slug}}"><button class="btn btn-orange play-button"
                                    style="color: white;"><i class="fa fa-play fa-sm"></i> <b>Watch</b></button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h3><b>Results:</b></h3><br>
            <a href="/movies/movie_upload"><button class="btn btn-primary">Upload a movie</button></a><br><br>
            <h4>There are no movies that match those parameters</h4>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function show_hideDiv(movie) {
        movie_id = 'movie-preview-' + movie
        movie_div = document.getElementById(movie_id)
        if (movie_div.style.display === "block") {
            movie_div.style.display = "none"
        } else {
            $('.movie-preview').hide();
            movie_div.style.display = 'block'
            movie_video_preview_class = '.movie-preview-video-' + movie
        }
    }
    
</script>
{% endblock %}