{% extends 'base.html' %}

{% load static from staticfiles %}
{% load widget_tweaks %}

{% block title %}Movies{% endblock %}
{% block content %}
<div id="bannerimage"></div>

<div class="row">
    <div class="col-sm-3 filter">
        <h3><b>Filter by:</b></h3>
        <form method="get">
            <div>
                <div class="filter-label">Title:</div><br>
                {{ filter.form.title|add_class:"form-control" }}
            </div>
            <div>
                <div class="filter-label">Director:</div><br>
                {{ filter.form.director|add_class:"form-control" }}
            </div>
            <!--
            <div>
                <div class="filter-label">Released between:</div><br>
                {{ filter.form.year__gt|add_class:"form-control" }}<br>
                {{ filter.form.year__lt|add_class:"form-control" }}
            </div>--><br>
            <button type="submit" class="btn btn-orange filter-btn"><i class="fa fa-filter"></i> Filter</button>
        </form>
    </div>
    <div class="col-md-8 col-sm-9 results">
        <div class="movies">
            {% if movies %}
            <div>
                <h3><b>Results:</b></h3><br>
                {% if request.user.is_superuser %}
                <span><a href="/movies/movie_upload"><button class="btn btn-primary">Upload a
                            movie</button></a></span><br><br>
                {% endif %}
            </div>
            <div class="row">
                {% for movie in filter.qs %}
                <div class="col-sm-3">
                    <div class="movie-img">
                        <a href="{{ movie.slug }}">
                            <img class="thumbnail img-responsive rounded" src="{{ movie.thumbnail.url }}" ,
                                alt="Image not found">
                            <div class="bottom-left">{{ movie.title }}</div>
                        </a>
                    </div><br>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <h1>No movies Found</h1><br>
            <a href="/movies/movie_upload"><button class="btn btn-primary">Upload a movie</button></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}