{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div id="bannerimage"></div>
<div class="container content-detail-page">
    <div class="movie">
        <h1>{{ movie.title }}</h1>
        <h4>{{ movie.director }}</h4>
        <p>{{ movie.duration }}</p>
        <p><b>Summary: </b>{{ movie.summary }}</p>
        <p><b>Released</b> in {{ movie.year_of_release }}</p>
        <video width='400' controls controlsList="nodownload" poster="{{ object.thumbnail.url }}">
            <source src="../../media/{{movie.video_file}}" type="video/mp4"></source>
            Sorry, your browser does not support this video.
        </video>
    </div>
    <a href="/movies" class="btn btn-primary">Back</a>
</div>
{% endblock %}