{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div id="bannerimage"></div>
<div class="container content-detail-page">
    <div class="movie">
        <div class="detail-heading">
            <h1>{{ movie.title }}</h1>
            {% if movie in favorite_movies %}
            <span onclick="remove_fav('{{ movie.slug }}')" class='fav-detail-btn'><i class="fas fa-bookmark fa-2x"></i></span>
            {% else %}
            <span onclick="add_fav('{{ movie.slug }}')" class='fav-detail-btn'><i class="far fa-bookmark fa-2x"></i></span>
            {% endif %}
        </div><br>
        <h4>{{ movie.director }}</h4>
        <p>{{ movie.duration }}</p>
        <p><b>Summary: </b>{{ movie.summary }}</p>
        <p><b>Released in: </b>{{ movie.year_of_release }}</p>
        <p><b>Genres: </b>{{ movie.genre1 }}{% if movie.genre2 != '-------'%}, {{ movie.genre2 }}{% elif movie.genre3 != '-------'%}, {{ movie.genre3 }} {% endif%}</p>
        <video width='400' controls controlsList="nodownload" poster="{{ object.thumbnail.url }}">
            <source src="../../media/{{movie.video_file}}" type="video/mp4"></source>
            Sorry, your browser does not support this video.
        </video>
    </div>
    <a href="/movies" class="btn btn-primary">Back</a>
</div>

<script type="text/javascript">
    function remove_fav(slug){
        remove_url = '/mypixs/remove/Movie/' + slug
        $.ajax({
            type: "POST",
            url: remove_url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(){
                location.reload()
            }
        })
    }

    function add_fav(slug){
        add_url = '/mypixs/add/Movie/' + slug
        $.ajax({
            type: "POST",
            url: add_url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(){
                location.reload() 
            }
        })
    }
</script>
{% endblock %}