{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div id="bannerimage"></div>
<div class="container content-detail-page">
    <div class="movie">
        <h1>{{ movie.title }}</h1>
        <!--
        {% if is_favourite %}
            <span><a href="/movies/{{ movie.slug }}/favourite"><i class="fas fa-bookmark fa-2x"></i></a></span>
        {% else %}
            <span><a href="/movies/{{ movie.slug }}/favourite"><i class="far fa-bookmark fa-2x"></i></a></span>
        {% endif %}-->
        <h4>{{ movie.director }}</h4>
        <p>{{ movie.duration }}</p>
        <p><b>Summary: </b>{{ movie.summary }}</p>
        <p><b>Released in: </b>{{ movie.year_of_release }}</p>
        <p><b>Genres: </b>{{ movie.genre1 }}{% if movie.genre2 != '-------'%}, {{ movie.genre2 }}{% elif movie.genre3 != '-------'%}, {{ movie.genre3 }} {% endif%}</p>
        <video width='400' controls controlsList="nodownload" poster="{{ object.thumbnail.url }}">
            <source src="../../media/{{movie.video_file}}" type="video/mp4"></source>
            Sorry, your browser does not support this video.
        </video>
    </div>
    <a href="/movies" class="btn btn-primary">Back</a>
</div>
{% endblock %}