{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}Music{% endblock %}
{% block content %}
<div id="bannerimage"></div>
<div class="container">
  <div class="results">
    <div class="songs">
      {% if songs %}
      <div>
        <h1>ALL MUSIC</h1><br>
        <span><a href="/music/music_upload"><button class="btn btn-primary">Upload your song</button></a></span>
        <br><br>
      </div>
      <div class="row">
        {% for song in songs %}
        <div class="col-md-3">
          <div class="card">
            <img src="{{ song.thumbnail.url }}" class="thumbnail-2">
            <div class="card-body">
              <a href="{{ song.slug }}" class="stretched-link">
                <h5 class="card-title">{{ song.title }}</h5>
              </a>
              <h6 class="card-subtitle mb-2 text-muted">{{ song.author }}</h6>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{ song.duration }}</small>
                <small class="text-muted">{{ song.release_date }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <h1>No Songs Found</h1><br>
      <a href="/music/music_upload"><button class="btn btn-primary">Upload your song</button></a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}