{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="../static/img/pixs-tv_favicon.jpg" />

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS/JS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Static css styles -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <a href="/" class="nav-logo"><img src="{% static 'img/pixs-tv_lg_hor.png' %}" height="60"
                    class="d-inline-block align-top" alt=""></a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto menu-text">
                <li class="nav-item">
                    <a class="nav-link" href="/tv/"><b>TV</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/music"><b>MUSIC</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies"><b>MOVIES</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/podcasts"><b>PODCASTS</b></a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="profile-btn">
                <a class="user-link my-2 my-sm-0 btn btn-primary" href="/accounts/profile"><b>PROFILE</b></a>
            </div>
            <div class="logout-btn">
                <a class="user-link my-2 my-sm-0 btn btn-orange" href="/accounts/logout/"><b>LOG OUT</b></a>
            </div>
            {% else %}
            <div class="login-btn">
                <a class="user-link my-2 my-sm-0 btn btn-primary" href="/accounts/login/"><b>LOG IN</b></a>
            </div>
            <div class="signup-btn">
                <a class="user-link my-2 my-sm-0 btn btn-orange" href="/accounts/signup/"><b>SIGN UP</b></a>
            </div>
            {% endif %}
        </div>
    </nav>

    <main role="main">
        {% block content %}
        {% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="copyright">
            <div class="social-icons">
                <a href="https://www.facebook.com/pixstv"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter-square fa-2x"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="http://youtube.com/"><i class="fab fa-youtube-square fa-2x"></i></a>
            </div>
            <ul class="list-inline footer-list">
                <li class="list-inline-item">&copy; 2019 Pixs TV </li>
                <li class="list-inline-item">&middot;</li>
                <li class="list-inline-item"><a href="/privacy">Privacy</a></li>
                <li class="list-inline-item">&middot;</li>
                <li class="list-inline-item"><a href="/tos">Terms of Use</a></li>
                <li class="list-inline-item">&middot;</li>
                <li class="list-inline-item"><a href="/about">About</a></li>
                <li class="list-inline-item">&middot;</li>
                <li class="list-inline-item"><a href="/help">Help</a></li>
                <li class="list-inline-item">&middot;</li>
                <li class="list-inline-item"><a href="/jobs">Jobs</a></li>
                <li class="list-inline-item">&middot;</li>
                <li class="list-inline-item"><a href="/sponsors">Our Sponsors</a></li>
                <li class="list-inline-item">&middot;</li>
                <li class="list-inline-item"><a href="/advertise">Advertise</a></li>
                <li class="list-inline-item">&middot;</li>
                <li class="list-inline-item"><a href="/music/music_upload/">Talent show submissions</a></li>
                <li class="list-inline-item">&middot;</li>
                <li class="list-inline-item"><a href="/podcasts/podcasts_upload/">Podcasts submissions</a></li>
            </ul>
        </div>
    </footer>
</body>