{% load static from staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Static CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'streaming_platform/styles.css' %}">

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css"
        integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og= sha384-gP4DhqyoT9b1vaikoHi9XQ8If7UNLO73JFOOlQV1RATrA7D0O7TjJZifac6NwPps sha512-AKwIib1E+xDeXe0tCgbc9uSvPwVYl6Awj7xl0FoaPFostZHOuDQ1abnDNCYtxL/HWEnVOMrFyf91TDgLPi9pNg=="
        crossorigin="anonymous">

    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js" integrity="sha256-/PFxCnsMh+nTuM0k3VJCRch1gwnCfKjaP8rJNq5SoBg= sha384-9ksAFjQjZnpqt6VtpjMjlp2S0qrGbcwF/rvrLUg2vciMhwc1UJJeAAOLuJ96w+Nj sha512-UMSn6RHqqJeJcIfV1eS2tPKCjzaHkU/KqgAnQ7Nzn0mLicFxaVhm9vq7zG5+0LALt15j1ljlg8Fp9PT1VGNmDw=="
        crossorigin="anonymous"></script>

    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <title>iBH Media - Your favourite streaming platform</title>
</head>

<body>
    <!-- HEADER -->
    <div class="header">
        <a href="#" class="trending">Trending:</a>
        <div class="header-right">
            <a href="#">Social</a>
            <a href="#">Register</a>
            <a href="#">Login</a>
            <div class="input-group mb-3 form-inline">
                <form action="/" class="form-inline form-control-sm">
                    <input type="text" class="form-control form-control-borderless" placeholder="Search" aria-label="search"
                        aria-describedby="inputGroup-sizing-sm">
                    <div class="input-group-append inputGroup-sizing-sm">
                        <button class="btn btn-primary" type="button" id="button-addon2 inputGroup-sizing-sm"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{% static 'streaming_platform/logo.png' %}" height="30" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- BODY CONTAINER -->
    <div class="container">
        <div class="banner">
            <h3>
                Tune in now as a Premium or Standard subscriber!
                Are you an independent producer or media content provider?
                Get in touch with our Partners department to become part of the internet broadcasting hub!
            </h3>
        </div>
    </div>
    <!-- FOOTER -->
    <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
</body>

</html>