{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}Upload your music{% endblock %}

{% block content %}
<div id="bannerimage"></div>
<div class="container upload-form">
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans "Upload your music video" %}</h1><br>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-7 mb-3">
                        {{ form.title.label_tag }}<br>
                        {{ form.title|add_class:"form-control" }}
                        <p style="color: red">{{ form.title.errors }}</p>
                    </div>
                    <div class="col-md-7 mb-3">
                        {{ form.author.label_tag }}<br>
                        {{ form.author|add_class:"form-control" }}
                        <p style="color: red">{{ form.author.errors }}</p>
                    </div>
                    <div class="col-md-7 mb-3">
                        {{ form.duration.label_tag }}<br>
                        {{ form.duration|add_class:"form-control" }}
                        <p style="color: red">{{ form.duration.errors }}</p>
                    </div>
                    <div class="col-md-7 mb-3">
                        {{ form.release_date.label_tag }}<br>
                        {{ form.release_date|add_class:"form-control" }}
                        <p style="color: red">{{ form.release_date.errors }}</p>
                    </div>
                    <div class="col-md-7 mb-3">
                        {{ form.thumbnail.label_tag }}<br>
                        {{ form.thumbnail|add_class:"form-control" }}
                        <p style="color: red">{{ form.thumbnail.errors }}</p>
                    </div>
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="primaryAction btn btn-primary btn-orange" type="submit">Upload</button>
            </form>
            <p><a href="/music">Back to music</a></p>
        </div>
    </div>
</div>
{% endblock %}