{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}Podcasts{% endblock %}
{% block content %}
<div id="bannerimage"></div>
<div class="container">
  <div class="results">
    <div class="podcasts">
      {% if podcasts %}
      <h1>ALL PODCASTS</h1><br>
      {% for podcast in podcasts %}
      <div class="podcast result-elem">
        <h2><a href="{{ podcast.url }}">{{ podcast.title }}</a></h2>
        <h5>Production Company: </h5>
        <p>{{ podcast.company }}</p>
        <h5>Duration: </h5>
        <p>{{ podcast.duration }}</p>
        <h5>Release Date: </h5>
        <p>{{ podcast.release_date }}</p>
      </div>
      {% endfor %}
      {% else %}
      <h1>No Podcasts Found</h1>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}