{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}Podcasts{% endblock %}
{% block content %}
<div class="img-banner-tv">
  <img class="img-banner-tv" src="{% static 'img/lens-slider.jpg' %}">
</div>
<div class="container">
  <div class="results">
    <div class="tv_channels">
      {% if tv_channels %}
      <h1>ALL TV CHANNELS</h1><br>
      {% for tv_channel in tv_channels %}
      <div class="tv_channel result-elem">
        <h2><a href="{{ tv_channel.url }}">{{ tv_channel.name }}</a></h2>
        <h5>Program: </h5>
        <p>{{ tv_channel.program }}</p>
        {% if tv_channel.live == True %}
        <h5>Live Now</h5>
        {% else %}
        <h5>Not Live</h5>
        {% endif %}
      </div>
      {% endfor %}
      {% else %}
      <h1>No TV Channels found</h1>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}