{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}Videos{% endblock %}
{% block content %}
<div id="bannerimage"></div>
<div class="container">
  <div class="results">
    <div class="videos">
      {% if videos %}
      <h1>ALL VIDEOS</h1><br>
      {% for video in videos %}
      <div class="video result-elem">
        <h2><a href="{{ video.url }}">{{ video.title }}</a></h2>
        <h5>Author: </h5>
        <p>{{ video.author}}</p>
        <h5>Duration: </h5>
        <p>{{ video.duration }}</p>
        <h5>Release Date: </h5>
        <p>{{ video.release_date }}</p>
      </div>
      {% endfor %}
      {% else %}
      <h1>No Videos Found</h1>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}