{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ podcast.title }}{% endblock %}

{% block content %}
<div id="bannerimage"></div>
<div class="container content-detail-page">
    <div class="song">
        <div class="detail-heading">
            <h1>{{ podcast.title }}</h1>
            {% if podcast in favorite_podcasts %}
            <span onclick="remove_fav('{{ podcast.slug }}')" class='fav-detail-btn'><i class="fas fa-bookmark fa-2x"></i></span>
            {% else %}
            <span onclick="add_fav('{{ podcast.slug }}')" class='fav-detail-btn'><i class="far fa-bookmark fa-2x"></i></span>
            {% endif %}
        </div><br>
        <h4>{{ podcast.author }}</h4>
        <h4>{{ podcast.publication }}</h4>
        <p>{{ podcast.duration }}</p>
        <p>{{ podcast.release_date }}</p>
         <audio controls>
            <source src="../../media/{{podcast.audio_file}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio> 
    </div>
    <a href="/podcasts" class="btn btn-primary">Back</a>
</div>

<script type="text/javascript">
    function remove_fav(slug){
        remove_url = '/mypixs/remove/Podcast/' + slug
        $.ajax({
            type: "POST",
            url: remove_url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(){
                location.reload()
            }
        })
    }

    function add_fav(slug){
        add_url = '/mypixs/add/Podcast/' + slug
        $.ajax({
            type: "POST",
            url: add_url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(){
                location.reload() 
            }
        })
    }
</script>
{% endblock %}